<!DOCTYPE html>
<html>
  <head>
    <title>Muppet Characters</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <script
      src="https://kit.fontawesome.com/b1efef281e.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <div class="topnav">
    <a href="/closed">
      <i class="fa-solid fa-house"></i> Sesame Street Character Search
    </a>
    <a id="list" href="/list"><i class="fa-solid fa-list"></i> Show List </a>
    <a href="/random"><i class="fa-solid fa-shuffle"></i> Random Muppet </a>
    <a href="/all_muppets"><i class="fa-regular fa-address-book"></i> All Muppets </a>

    <form method="POST" action="result">
      <button type="submit" id="search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <input type="text" name="character" placeholder="Search by name..." />
    </form>
  </div>

  <div class="main">
    <body>
      <h1>Something Went Wrong :(</h1>
      <h3>{{error}}</h3>

      <p>
        <a
          style="
            background-color: #04aa6d;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            cursor: pointer;
          "
          href="/closed"
          >Try Again</a
        >
      </p>
    </body>
  </div>
</html>
